@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&amp;display=swap");

body {
    margin: 0;

    font-family: 'Quicksand', sans-serif;
    text-shadow: #353535 1px 0px 16px;
    line-height: 1.5;
}

:root {
    --grayscale-50: rgb(253, 253, 253);
    --grayscale-100: rgb(249, 249, 249);
    --grayscale-200: rgb(243, 243, 243);
    --grayscale-300: rgb(234, 234, 234);
    --grayscale-400: rgb(221, 221, 221);
    --grayscale-500: rgb(201, 201, 201);
    --grayscale-600: rgb(172, 172, 172);
    --grayscale-700: rgb(143, 143, 143);
    --grayscale-800: rgb(115, 115, 115);
    --grayscale-900: rgb(89, 89, 89);
    --grayscale-1000: rgb(62, 62, 62);
    --grayscale-1100: rgb(29, 29, 29);
}
body.dark {
    --grayscale-1100: rgb(253, 253, 253);
    --grayscale-1000: rgb(249, 249, 249);
    --grayscale-900: rgb(243, 243, 243);
    --grayscale-800: rgb(234, 234, 234);
    --grayscale-700: rgb(221, 221, 221);
    --grayscale-600: rgb(201, 201, 201);
    --grayscale-500: rgb(172, 172, 172);
    --grayscale-400: rgb(143, 143, 143);
    --grayscale-300: rgb(115, 115, 115);
    --grayscale-200: rgb(89, 89, 89);
    --grayscale-100: rgb(62, 62, 62);
    --grayscale-50: rgb(29, 29, 29);
}
#app {
/*    width: 100vw;*/
/*    height: 100vh;*/
    display: flex;
/*    align-items: center;*/
/*    justify-content: center;*/
}
#app > div {

    flex: 1;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: var(--grayscale-1100);
    gap: 4px;
    padding: 8px;
    min-width: 160px;
}

nav a:hover {
    background-color: var(--grayscale-1000);
    border-color: #646cff;
}
nav a {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: var(--grayscale-50);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
}
.sp-layout {
    border: none;
    border-radius: 0;
}